@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*>*{
    font-family: 'Poppins', sans-serif;
}

.input_text+*{
    color: #cbd5e1;
}
.input_text:focus+*{
    color: rgb(51,65,85);
}